
.main {
  background-color: aqua;
}

/* div {
  border: 5px;
  border-style: solid;
} */



/* need to put the title over the picture with transparency */
div.nf {
  background-color: yellow;
  display: flex;
  flex-direction: row;

}

img.nf {
  width: 100%;
}

div.RBnB {
  display: flex;
  flex-direction: row;
}


img.RBnB {
  width: 100%;
}


div. {
  display: flex;
  flex-direction: row;

}

.nf div.sub {
  width: 20%;
  border-color: white;
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
